---
import Layout from '@/layouts/Layout.astro'
import Navbar from '@/components/Navbar.astro'
import Hero from '@/components/Hero.astro'
import Problema from '@/components/Problema.astro'
import Solucion from '@/components/Solucion.astro'
import Features from '@/components/Features.astro'
import ComoFunciona from '@/components/ComoFunciona.astro'
import Equipo from '@/components/Equipo.astro'
import Comparativa from '@/components/Comparativa.astro'
import Calculadora from '@/components/Calculadora.astro'
import Encuesta from '@/components/Encuesta.astro'
import CierreWhatsApp from '@/components/CierreWhatsApp.astro'
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Problema />
    <Solucion />
    <Features />
    <ComoFunciona />
    <Equipo />
    <Comparativa />
    <Calculadora />
    <Encuesta />
    <CierreWhatsApp />
  </main>
</Layout>
